<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex @expand>
    <div>
      <h3>Contact Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex @expand>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          121, Clear Water Bay Road<br>
          Clear Water Bay, Kowloon<br>
          HONG KONG<br>
          <i class="fa fa-phone"></i>: +852 1234 5678<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
        <p></p>
        <div>
          <a href="tel:+85212345678">
            <button mat-raised-button><i class="fa fa-phone"></i> Call</button>
          </a>
          <a>
            <button mat-raised-button><i class="fa fa-skype"></i> Skype</button>
          </a>
          <a href="mailto:confusion@food.net">
            <button mat-raised-button><i class="fa fa-envelope-o"></i> Email</button>
          </a>
        </div>
      </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
      </div>
    </div>
  </div>

  <div fxFlex fxFlexOffset="20px" class="form-size" @expand>
    <h3>Send us your Feedback</h3>
    <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading" @expand>
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
          <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="email" placeholder="Email" type="email" email required>
          <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
        </mat-form-field>
      </p>
      <table class="form-size">
        <td>
          <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
        </td>
        <td>
          <mat-select placeholder="How?" formControlName="contacttype">
            <mat-option *ngFor="let ctype of contactType" [value]="ctype">
              {{ ctype }}
            </mat-option>
          </mat-select>
        </td>
      </table>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">
        Submit
      </button>
    </form>
    <div *ngIf="isLoading && !isShowingResponse" @expand>
      <h4>Submitting Form</h4><mat-spinner></mat-spinner>
    </div>
    <mat-card *ngIf="isShowingResponse"
              style="display: flex;"
              @expand>
      <mat-card-content>
        <table>
          <caption style="text-align: left;"><strong>Your Submission</strong></caption>
          <tr>
          </tr>
          <tr>
            <td><span>First Name:</span></td>
            <td>{{feedback.firstname}}</td>
          </tr>
          <tr>
            <td><span>Last Name:</span></td>
            <td>{{feedback.lastname}}</td>
          </tr>
          <tr>
            <td><span>Tel. Number:</span></td>
            <td>{{feedback.telnum}}</td>
          </tr>
          <tr>
            <td><span>Email:</span></td>
            <td>{{feedback.email}}</td>
          </tr>
          <tr>
            <td><span>Contact You?:</span></td>
            <td>{{feedback.agree}}</td>
          </tr>
          <tr>
            <td><span>How?:</span></td>
            <td>{{feedback.contacttype}}</td>
          </tr>
          <tr>
            <td><span>Feedback:</span></td>
            <td>{{feedback.message}}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>